.showroom {
  margin-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid var(--color-dark-grey);
  display: flex;
  flex-direction: column;

  &__header-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__alert {
    display: block;
    padding: 5px 8px;
    background-color: var(--background-color-yellow);
    color: var(--color-white);
    border-radius: 360px;
    font-size: 14px;
    line-height: 14px;
  }

  &--last {
    padding-bottom: 0;
    border: 0;
  }

  &__content {
    display: flex;
    margin-top: 40px;
    gap: 30px;
  }

  &__info,
  &__details {
    width: 50%;
  }

  &__info-text:not(:first-child) {
    margin-top: 12px;
  }

  &__info-link {
    display: block;
    margin-top: 24px;
  }

  &__list {
    margin-top: 22px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__list-item {
    margin-bottom: -4px;
  }

  &__images {
    margin-top: 40px;
    display: flex;
    gap: 32px;
  }

  &__image {
    height: 219px;
  }

  &__image img {
    border-radius: 20px;
  }

  &__button {
    max-width: 301px;
    margin-top: 40px !important;
  }
}
