.button {
  width: 100%;
  margin: 0 auto;
  padding: 16px 56px;
  color: var(--color-white);
  background-color: var(--background-color-green);
  font-family: "ProximaNova", Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  border: 0;
  border-radius: 16px;
  transition: ease-in-out 0.3s all;
  cursor: pointer;

  @media (max-width: 1147px) {
    font-size: 16px;
    line-height: 22px;
  }

  &:hover {
    opacity: 0.7;
  }
}
