:root {
  --color-black: #282828;
  --color-white: #ffffff;
  --color-white-smoke: #f5f5f5;
  --color-dark-grey: #838b8e;
  --color-light-grey: #ced3d9;
  --background-color-white: #ffffff;
  --background-color-green: #55d287;
  --background-color-yellow: #eeb83b;
  --background-color-grey: #f6f7f8;
}
